<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Result and Amortization table</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    @model MortgageCalculatorWebApp.ViewModels.MortgageAndAmortization
    @{
        ViewData["Title"] = "CalculateMortgageAndAmortization";
    }
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h1>
                Result
            </h1>
        </div>
        <div class="card-body">
            <p>
                Hi @Html.DisplayFor(model => model.MortOut.InputedData.CustomerDetails.FirstName)
                @Html.DisplayFor(model => model.MortOut.InputedData.CustomerDetails.MiddleName)
                @Html.DisplayFor(model => model.MortOut.InputedData.CustomerDetails.LastName)!  You entered the following loan configuration:
            </p>
            <p>
                <b>@Html.DisplayNameFor(model => model.MortOut.InputedData.LoanAmount): </b>@Html.DisplayFor(model => model.MortOut.InputedData.LoanAmount); <br />
                <b>@Html.DisplayNameFor(model => model.MortOut.InputedData.AnnualRate): </b>@Html.DisplayFor(model => model.MortOut.InputedData.AnnualRate)%; <br />
                <b>@Html.DisplayNameFor(model => model.MortOut.InputedData.DownPayment): </b>@Html.DisplayFor(model => model.MortOut.InputedData.DownPayment); <br />
                <b>@Html.DisplayNameFor(model => model.MortOut.InputedData.ExtraMonthlyPayment): </b>@Html.DisplayFor(model => model.MortOut.InputedData.ExtraMonthlyPayment); <br />
                <b>@Html.DisplayNameFor(model => model.MortOut.InputedData.DurationYears): </b>@Html.DisplayFor(model => model.MortOut.InputedData.DurationYears) years; <br />
                <b>@Html.DisplayNameFor(model => model.MortOut.InputedData.DurationMonths): </b>@Html.DisplayFor(model => model.MortOut.InputedData.DurationMonths) months.
            </p>
            <p>
                The <b>Monthly payment</b> is @Html.DisplayFor(model => model.MortOut.MonthlyPayment). <br />
                The <b>Total Interest</b> is @Html.DisplayFor(model => model.TotalInterest). <br />
                <span style="display: none" id="extra">You had a <b>total savings</b>  of <b>@Html.DisplayFor(model => model.TotalSavings)</b> due to your down payment or extra monthly payment.</span> <br />
                <span style="display: none" id="extra1">You'll <b>pay earlier</b> by <b>@Html.DisplayFor(model => model.EarlierMonthsDifference) months.</b> </span>
            </p>
            <div style="margin-bottom: 0; border-bottom: 0;">
                <table align="center" class="table table-hover" style="width:80%; margin-bottom: 0;">
                    <thead class="thead-dark">
                        <tr>
                            <th style="text-align:center; width:19%">
                                Month
                            </th>
                            <th style="text-align:center; width:19%">
                                Monthly Payment
                            </th>
                            <th style="text-align:center; width:19%">
                                Interest
                            </th>
                            <th style="text-align:center; width:19%">
                                Principal
                            </th>
                            <th style="text-align:center; width:22%">
                                Loan Balance
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="scrollable" style="width: 80%; margin: 0px auto 0px; border-top: 0;">
                <table align="center" class="table table-sm table-hover table-bordered" style="width:100%;">
                    <tbody>
                        @foreach (var item in Model.AmortOut)
                        {
                            <tr>
                                <td style="text-align:center; width:20%">
                                    @Html.DisplayFor(model => item.Months)
                                </td>
                                <td style="text-align:center; width:20%">
                                    @Html.DisplayFor(model => item.Amount)
                                </td>
                                <td style="text-align:center; width:20%">
                                    @Html.DisplayFor(model => item.Interest)
                                </td>
                                <td style="text-align:center; width:20%">
                                    @Html.DisplayFor(model => item.Principal)
                                </td>
                                <td style="text-align:center; width:20%">
                                    @Html.DisplayFor(model => item.Balance)
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot class="thead-dark">
                        <tr>
                            <th style="text-align:center;">
                                Month
                            </th>
                            <th style="text-align:center;">
                                Monthly Payment
                            </th>
                            <th style="text-align:center;">
                                Interest
                            </th>
                            <th style="text-align:center;">
                                Principal
                            </th>
                            <th style="text-align:center;">
                                Loan Balance
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <style>
        .scrollable{
            height: 500px;
            overflow: scroll;
        }
    </style>
    <script>
        $(document).ready(function () {
            if (@Model.MortOut.InputedData.ExtraMonthlyPayment > 0 || @Model.MortOut.InputedData.DownPayment > 0) {
                $('#extra').toggle();
            }

            if (@Model.EarlierMonthsDifference > 0) {
                $('#extra1').toggle();
            }

        });
    </script>
</body>
</html>

