<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @model MortgageCalculatorWebApp.ViewModels.MortgageAndAmortization
    @{
        ViewData["Title"] = "CalculateMortgageAndAmortization";
    }
    <h1>
        Result
    </h1>
    <p>
        Hi @Html.DisplayFor(model => model.MortOut.InputedData.CustomerDetails.FirstName) 
        @Html.DisplayFor(model => model.MortOut.InputedData.CustomerDetails.MiddleName) 
        @Html.DisplayFor(model => model.MortOut.InputedData.CustomerDetails.LastName)!  You entered the following loan configuration(s):
    </p>
    <p>
        <b>@Html.DisplayNameFor(model => model.MortOut.InputedData.LoanAmount): </b>$@Html.DisplayFor(model => model.MortOut.InputedData.LoanAmount);
        <b>@Html.DisplayNameFor(model => model.MortOut.InputedData.AnnualRate): </b>@Html.DisplayFor(model => model.MortOut.InputedData.AnnualRate)%;
        <b>@Html.DisplayNameFor(model => model.MortOut.InputedData.DurationYears): </b>@Html.DisplayFor(model => model.MortOut.InputedData.DurationYears) years; 
        <b>@Html.DisplayNameFor(model => model.MortOut.InputedData.DurationMonths): </b>@Html.DisplayFor(model => model.MortOut.InputedData.DurationMonths) months.
    </p>
    <p>
        The <b>Monthly payment</b> is $@Html.DisplayFor(model => model.MortOut.MonthlyPayment).
    </p>
    <button>Show Amortization Table</button>
    <div>
        <table class="table table-sm table-hover table-bordered" style="width:55%">
            <thead class="thead-dark">
                <tr>
                    <th style="width:10%">
                        Month
                    </th>
                    <th style="width:15%">
                        Monthly Payment
                    </th>
                    <th style="width:10%">
                        Interest
                    </th>
                    <th style="width:10%">
                        Principal
                    </th>
                    <th style="width:10%">
                        Loan Balance
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AmortOut)
                {
                    <tr>
                        <td style="text-align:center">
                            @Html.DisplayFor(model => item.Months)
                        </td>
                        <td style="text-align:center">
                            @Html.DisplayFor(model => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Interest)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Principal)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Balance)
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot class="thead-dark">
                <tr>
                    <th>
                        Month
                    </th>
                    <th>
                        Monthly Payment
                    </th>
                    <th>
                        Interest
                    </th>
                    <th>
                        Principal
                    </th>
                    <th>
                        Loan Balance
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>\   
</body>
</html>

