
@{
    Layout = null;
}
@model List<MortgageCalculatorWebApp.ViewModels.MortgageAndAmortization>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Tabs - Default functionality</title>
    <script src="~/jquery-ui-1.12.1/external/jquery/jquery.js"></script>
    <script src="~/jquery-ui-1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" />


    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', { 'packages':['bar'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawInterestChart);
        google.charts.setOnLoadCallback(drawSavingsChart);
        google.charts.setOnLoadCallback(drawTimeChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.

        function drawInterestChart() {
            var interest0 = @Model[0].TotalInterest;
            var interest1 = @Model[1].TotalInterest;
            var interest2 = @Model[2].TotalInterest;

            var data = google.visualization.arrayToDataTable([
                ['', 'Configuration 1', 'Configuration 2', 'Configuration 3'],
                ['Interest', interest0, interest1, interest2]
            ]);

            var options = {
                chart: {
                    title: 'Comparing total interest',
                    width: 400,
                    height: 300
                }
            };

            var chart = new google.charts.Bar(document.getElementById('interestChart'));

            chart.draw(data, google.charts.Bar.convertOptions(options));
        }

        function drawSavingsChart() {
            var savings0 = @Model[0].TotalSavings;
            var savings1 = @Model[1].TotalSavings;
            var savings2 = @Model[2].TotalSavings;

            var data = google.visualization.arrayToDataTable([
                ['', 'Configuration 1', 'Configuration 2', 'Configuration 3'],
                ['Savings', savings0, savings1, savings2]
            ]);

            var options = {
                chart: {
                    title: 'Comparing total savings due to down-payment or extra monthly payment',
                    width: 400,
                    height: 300
                }
            };

            var chart = new google.charts.Bar(document.getElementById('savingsChart'));

            chart.draw(data, google.charts.Bar.convertOptions(options));
        }

        function drawTimeChart() {
            var time0 = @Model[0].AmortOut.Count();
            var time1 = @Model[1].AmortOut.Count();
            var time2 = @Model[2].AmortOut.Count();

            var data = google.visualization.arrayToDataTable([
                ['', 'Configuration 1', 'Configuration 2', 'Configuration 3'],
                ['Number of Months', time0, time1, time2]
            ]);

            var options = {
                chart: {
                    title: 'Comparing time to pay-off',
                    width: 400,
                    height: 300
                }
            };

            var chart = new google.charts.Bar(document.getElementById('timeChart'));

            chart.draw(data, google.charts.Bar.convertOptions(options));
        }
    </script>





</head>
<body>
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h1>
                Comparison
            </h1>
        </div>
        <div class="card-body">
            <p>
                Hi @Html.DisplayFor(model => model[0].MortOut.InputedData.CustomerDetails.FirstName)
                @Html.DisplayFor(model => model[0].MortOut.InputedData.CustomerDetails.MiddleName)
                @Html.DisplayFor(model => model[0].MortOut.InputedData.CustomerDetails.LastName)!  You entered the following loan configuration(s):
            </p>
            <div style="width: 90%; margin: 20px auto 20px;">
                <table style="width:100%">
                    <thead class="thead-dark">
                        <tr>
                            <th style="color: Red">Configuration 1</th>
                            <th style="color: Red">Configuration 2</th>
                            <th style="color: Red">Configuration 3</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>@Html.DisplayNameFor(model => model[0].MortOut.InputedData.LoanAmount): </b>@Html.DisplayFor(model => model[0].MortOut.InputedData.LoanAmount); <br />
                                <b>@Html.DisplayNameFor(model => model[0].MortOut.InputedData.AnnualRate): </b>@Html.DisplayFor(model => model[0].MortOut.InputedData.AnnualRate)%; <br />
                                <b>@Html.DisplayNameFor(model => model[0].MortOut.InputedData.DownPayment): </b>@Html.DisplayFor(model => model[0].MortOut.InputedData.DownPayment); <br />
                                <b>@Html.DisplayNameFor(model => model[0].MortOut.InputedData.ExtraMonthlyPayment): </b>@Html.DisplayFor(model => model[0].MortOut.InputedData.ExtraMonthlyPayment); <br />
                                <b>@Html.DisplayNameFor(model => model[0].MortOut.InputedData.DurationYears): </b>@Html.DisplayFor(model => model[0].MortOut.InputedData.DurationYears) years; <br />
                                <b>@Html.DisplayNameFor(model => model[0].MortOut.InputedData.DurationMonths): </b>@Html.DisplayFor(model => model[0].MortOut.InputedData.DurationMonths) months.
                            </td>
                            <td>
                                <b>@Html.DisplayNameFor(model => model[1].MortOut.InputedData.LoanAmount): </b>@Html.DisplayFor(model => model[1].MortOut.InputedData.LoanAmount); <br />
                                <b>@Html.DisplayNameFor(model => model[1].MortOut.InputedData.AnnualRate): </b>@Html.DisplayFor(model => model[1].MortOut.InputedData.AnnualRate)%; <br />
                                <b>@Html.DisplayNameFor(model => model[1].MortOut.InputedData.DownPayment): </b>@Html.DisplayFor(model => model[1].MortOut.InputedData.DownPayment); <br />
                                <b>@Html.DisplayNameFor(model => model[1].MortOut.InputedData.ExtraMonthlyPayment): </b>@Html.DisplayFor(model => model[1].MortOut.InputedData.ExtraMonthlyPayment); <br />
                                <b>@Html.DisplayNameFor(model => model[1].MortOut.InputedData.DurationYears): </b>@Html.DisplayFor(model => model[1].MortOut.InputedData.DurationYears) years; <br />
                                <b>@Html.DisplayNameFor(model => model[1].MortOut.InputedData.DurationMonths): </b>@Html.DisplayFor(model => model[1].MortOut.InputedData.DurationMonths) months.
                            </td>
                            <td>
                                <b>@Html.DisplayNameFor(model => model[2].MortOut.InputedData.LoanAmount): </b>@Html.DisplayFor(model => model[2].MortOut.InputedData.LoanAmount); <br />
                                <b>@Html.DisplayNameFor(model => model[2].MortOut.InputedData.AnnualRate): </b>@Html.DisplayFor(model => model[2].MortOut.InputedData.AnnualRate)%; <br />
                                <b>@Html.DisplayNameFor(model => model[2].MortOut.InputedData.DownPayment): </b>@Html.DisplayFor(model => model[2].MortOut.InputedData.DownPayment); <br />
                                <b>@Html.DisplayNameFor(model => model[2].MortOut.InputedData.ExtraMonthlyPayment): </b>@Html.DisplayFor(model => model[2].MortOut.InputedData.ExtraMonthlyPayment); <br />
                                <b>@Html.DisplayNameFor(model => model[2].MortOut.InputedData.DurationYears): </b>@Html.DisplayFor(model => model[2].MortOut.InputedData.DurationYears) years; <br />
                                <b>@Html.DisplayNameFor(model => model[2].MortOut.InputedData.DurationMonths): </b>@Html.DisplayFor(model => model[2].MortOut.InputedData.DurationMonths) months.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            

            <h2 style="color: red">Comparison charts</h2>
            <!--Div that will hold the bar charts-->
            <table align="center" style="width: 90%">
                <tr>
                    <td align="center" style="width: 33%"><div id="interestChart" style="border: 1px solid #ccc"></div></td>
                    <td align="center" style="width: 33%"><div id="savingsChart" style="border: 1px solid #ccc"></div></td>
                    <td align="center" style="width: 33%"><div id="timeChart" style="border: 1px solid #ccc"></div></td>
                </tr>
            </table>

            <div style="margin-top:10pt">
                <p>Below are the results.</p>
            </div>
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-1">Schedule for Configuration 1</a></li>
                    <li><a href="#tabs-2">Schedule for Configuration 2</a></li>
                    <li><a href="#tabs-3">Schedule for Configuration 3</a></li>
                </ul>
                <div id="tabs-1">
                    <p>
                        The <b>Monthly payment</b> is @Html.DisplayFor(model => model[0].MortOut.MonthlyPayment). <br />
                        The <b>Total Interest</b> is @Html.DisplayFor(model => model[0].TotalInterest). <br />
                        <span style="display: none" id="extra0">You had a <b>total savings</b>  of <b>@Html.DisplayFor(model => model[0].TotalSavings)</b> due to your down payment or extra monthly payment.</span> <br />
                        <span style="display: none" id="earlier0">You'll <b>pay earlier</b> by <b>@Html.DisplayFor(model => model[0].EarlierMonthsDifference) months.</b> </span>
                    </p>
                    <div style="margin-bottom: 0; border-bottom: 0;">
                        <table align="center" class="table table-hover" style="width:80%; margin-bottom: 0;">
                            <thead class="thead-dark">
                                <tr>
                                    <th style="text-align:center; width:12%">
                                        Month
                                    </th>
                                    <th style="text-align:center; width:30%">
                                        Monthly Payment
                                    </th>
                                    <th style="text-align:center; width:14%">
                                        Interest
                                    </th>
                                    <th style="text-align:center; width:17%">
                                        Principal
                                    </th>
                                    <th style="text-align:center; width:25%">
                                        Loan Balance
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="scrollable" style="width: 80%; margin: 0px auto 0px; border-top: 0;">
                        <table align="center" class="table table-sm table-hover table-bordered" style="width:100%;">
                            <tbody>
                                @foreach (var item in Model[0].AmortOut)
                                {
                                    <tr>
                                        <td style="text-align:center">
                                            @Html.DisplayFor(model => item.Months)
                                        </td>
                                        <td style="text-align:center">
                                            @Html.DisplayFor(model => item.Amount)
                                        </td>
                                        <td style="text-align:center">
                                            @Html.DisplayFor(model => item.Interest)
                                        </td>
                                        <td style="text-align:center">
                                            @Html.DisplayFor(model => item.Principal)
                                        </td>
                                        <td style="text-align:center">
                                            @Html.DisplayFor(model => item.Balance)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot class="thead-dark">
                                <tr>
                                    <th style="text-align:center;">
                                        Month
                                    </th>
                                    <th style="text-align:center;">
                                        Monthly Payment
                                    </th>
                                    <th style="text-align:center;">
                                        Interest
                                    </th>
                                    <th style="text-align:center;">
                                        Principal
                                    </th>
                                    <th style="text-align:center;">
                                        Loan Balance
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div id="tabs-2">
                    <p>
                        The <b>Monthly payment</b> is @Html.DisplayFor(model => model[1].MortOut.MonthlyPayment). <br />
                        The <b>Total Interest</b> is @Html.DisplayFor(model => model[1].TotalInterest). <br />
                        <span style="display: none" id="extra1">You had a <b>total savings</b>  of <b>@Html.DisplayFor(model => model[1].TotalSavings)</b> due to your down payment or extra monthly payment.</span> <br />
                        <span style="display: none" id="earlier1">You'll <b>pay earlier</b> by <b>@Html.DisplayFor(model => model[1].EarlierMonthsDifference) months.</b> </span>
                    </p>
                    <div style="margin-bottom: 0; border-bottom: 0;">
                        <table align="center" class="table table-hover" style="width:80%; margin-bottom: 0;">
                            <thead class="thead-dark">
                                <tr>
                                    <th style="text-align:center; width:12%">
                                        Month
                                    </th>
                                    <th style="text-align:center; width:30%">
                                        Monthly Payment
                                    </th>
                                    <th style="text-align:center; width:14%">
                                        Interest
                                    </th>
                                    <th style="text-align:center; width:17%">
                                        Principal
                                    </th>
                                    <th style="text-align:center; width:25%">
                                        Loan Balance
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="scrollable" style="width: 80%; margin: 0px auto 0px; border-top: 0;">
                        <table align="center" class="table table-sm table-hover table-bordered" style="width:100%;">
                            <tbody>
                                @foreach (var item in Model[1].AmortOut)
                                {
                                    <tr>
                                        <td style="text-align:center">
                                            @Html.DisplayFor(model => item.Months)
                                        </td>
                                        <td style="text-align:center">
                                            @Html.DisplayFor(model => item.Amount)
                                        </td>
                                        <td style="text-align:center">
                                            @Html.DisplayFor(model => item.Interest)
                                        </td>
                                        <td style="text-align:center">
                                            @Html.DisplayFor(model => item.Principal)
                                        </td>
                                        <td style="text-align:center">
                                            @Html.DisplayFor(model => item.Balance)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot class="thead-dark">
                                <tr>
                                    <th style="text-align:center;">
                                        Month
                                    </th>
                                    <th style="text-align:center;">
                                        Monthly Payment
                                    </th>
                                    <th style="text-align:center;">
                                        Interest
                                    </th>
                                    <th style="text-align:center;">
                                        Principal
                                    </th>
                                    <th style="text-align:center;">
                                        Loan Balance
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div id="tabs-3">
                    <p>
                        The <b>Monthly payment</b> is @Html.DisplayFor(model => model[2].MortOut.MonthlyPayment). <br />
                        The <b>Total Interest</b> is @Html.DisplayFor(model => model[2].TotalInterest). <br />
                        <span style="display: none" id="extra2">You had a <b>total savings</b>  of <b>@Html.DisplayFor(model => model[2].TotalSavings)</b> due to your down payment or extra monthly payment.</span> <br />
                        <span style="display: none" id="earlier2">You'll <b>pay earlier</b> by <b>@Html.DisplayFor(model => model[2].EarlierMonthsDifference) months.</b> </span>
                    </p>
                    <div style="margin-bottom: 0; border-bottom: 0;">
                        <table align="center" class="table table-hover" style="width:80%; margin-bottom: 0;">
                            <thead class="thead-dark">
                                <tr>
                                    <th style="text-align:center; width:12%">
                                        Month
                                    </th>
                                    <th style="text-align:center; width:30%">
                                        Monthly Payment
                                    </th>
                                    <th style="text-align:center; width:14%">
                                        Interest
                                    </th>
                                    <th style="text-align:center; width:17%">
                                        Principal
                                    </th>
                                    <th style="text-align:center; width:25%">
                                        Loan Balance
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="scrollable" style="width: 80%; margin: 0px auto 0px; border-top: 0;">
                        <table align="center" class="table table-sm table-hover table-bordered" style="width:100%;">
                            <tbody>
                                @foreach (var item in Model[2].AmortOut)
                                {
                                    <tr>
                                        <td style="text-align:center">
                                            @Html.DisplayFor(model => item.Months)
                                        </td>
                                        <td style="text-align:center">
                                            @Html.DisplayFor(model => item.Amount)
                                        </td>
                                        <td style="text-align:center">
                                            @Html.DisplayFor(model => item.Interest)
                                        </td>
                                        <td style="text-align:center">
                                            @Html.DisplayFor(model => item.Principal)
                                        </td>
                                        <td style="text-align:center">
                                            @Html.DisplayFor(model => item.Balance)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot class="thead-dark">
                                <tr>
                                    <th style="text-align:center;">
                                        Month
                                    </th>
                                    <th style="text-align:center;">
                                        Monthly Payment
                                    </th>
                                    <th style="text-align:center;">
                                        Interest
                                    </th>
                                    <th style="text-align:center;">
                                        Principal
                                    </th>
                                    <th style="text-align:center;">
                                        Loan Balance
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        body {
            width: 70%;
            margin: auto;
        }
        .scrollable{
            height: 500px;
            overflow: scroll;
        }
    
    </style>
    <script>
        $(function () {
            $("#tabs").tabs();

            if (@Model[0].MortOut.InputedData.ExtraMonthlyPayment > 0 || @Model[0].MortOut.InputedData.DownPayment > 0) {
                $('#extra0').toggle();
            }
            if (@Model[1].MortOut.InputedData.ExtraMonthlyPayment > 0 || @Model[1].MortOut.InputedData.DownPayment > 0) {
                $('#extra1').toggle();
            }
            if (@Model[2].MortOut.InputedData.ExtraMonthlyPayment > 0 || @Model[2].MortOut.InputedData.DownPayment > 0) {
                $('#extra2').toggle();
            }

            if (@Model[0].EarlierMonthsDifference > 0) {
                $('#earlier0').toggle();
            }
            if (@Model[1].EarlierMonthsDifference > 0) {
                $('#earlier1').toggle();
            }
            if (@Model[2].EarlierMonthsDifference > 0) {
                $('#earlier2').toggle();
            }
        });
    </script>
</body>

</html>
